# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
Data Structures.iml
package.json
package-lock.json
index.html
# dependencies
/node_modules
# production
/build
